<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<script src="/static/main.js"></script>
</head>
<body>

<h1>Enter Your Prescription</h1>

<div id="inputbox">
	<span>Drug Name</span>
	<input type="text" placeholder="Drug Name" />
	<span>Dosage</span>
	<input type="text" placeholder="Dosage" />
	<span>Doses per month</span>
	<input type="number" placeholder="Doses per month" />
	<input type="button" value="Save" />
</div>

</body>
</html>
